.cover{
	background-image: url(../imgs/converse-fields.jpg);
	background-repeat: no-repeat;
    padding: 20px;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;

}

.form h2,h3,label {
    color: #E1EEEE;
    text-shadow: 0px 0px 10px #000;
}

.form-control {
    max-width: 330px;
  
}

.textarea {
    width: 62%;
    height: 175px;
    min-width: 230px;
}

.button{
    width: 62%;
    padding-left: 15px;
    min-width: 230px;
}