
.header{
    color: white;
	text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, -2px 2px 5px #000, 2px -2px 5px #000;
	

}
.text {color: ghostwhite;
	text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, -2px 2px 5px #000, 2px -2px 5px #000;
}

.link {
	color: darkseagreen;
	
	
}
.cover{
	background-image: url(../imgs/hotel.jpg);
	background-repeat: no-repeat;
    padding: 20px;
    background-size: cover;
    background-position: center center;
    background-attachment: local;
}

.form h2,h3,label {
    color: #E1EEEE;
	text-shadow: 2px 2px 5px #000, -2px -2px 5px #000, -2px 2px 5px #000, 2px -2px 5px #000;

}


.form-control {
  max-width: 330px;
  
}
.textarea {
        width: 62%;
        height: 175px;
}
.button{
width: 80%;
padding-left: 15px;
}
