.error{
	background-image : url(../imgs/nok.png);
    background-repeat : no-repeat;
    background-position: top right;
    background-size : contain;	

}
.errorMsg{
	font-size: 12px;
	color: black;
	background-color: white;
  display: block;
  width: 40%;
}

.accept{
	background-image : url(../imgs/tick.png);
    background-repeat : no-repeat;
    background-position: top right;
   	background-size : contain;	

}